<header class="jumbotron" style="padding: 2%; background-color: #27ae60; color: white;">
  <h3 class="text-center" style="font-family: 'Varela Round', sans-serif;font-weight: 600;font-size: 32px;text-shadow: 1px 1px 7px;"> Angular 8 CRUD </h3>
  <p class="text-center" style="font-size: 18px;"> (www.thaaimozhikalvi.com) </p>
</header>
<div class="container">
  <div class="text-right"> <button mat-raised-button color="primary" (click)="addNewRecords()"> Add New </button> <br/> <br/></div>
  <mat-form-field> <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..."> </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="">
      <ng-container matColumnDef="s_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> S. No </th>
        <td mat-cell *matCellDef="let i=index;" >{{i +1}}</td>
      </ng-container>
      <ng-container matColumnDef="emp_name">
        <th mat-header-cell class="text-center" *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element" style="text-transform: uppercase">{{element.emp_name}}</td>
      </ng-container>
      <ng-container matColumnDef="emp_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </th>
        <td mat-cell *matCellDef="let element">{{element.emp_id}}</td>
      </ng-container>
      <ng-container matColumnDef="emp_mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
        <td mat-cell *matCellDef="let element">{{element.emp_mobile}}</td>
      </ng-container>
      <ng-container matColumnDef="emp_email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element" style="text-transform: lowercase">{{element.emp_email}}</td>
      </ng-container>
      <ng-container matColumnDef="emp_dob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
        <td mat-cell *matCellDef="let element">{{element.emp_dob | date: 'dd-MMM-yyyy'}}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="viewUserDetails(element.id)">
            <mat-icon> remove_red_eye </mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="updateUser(element)">
            <mat-icon> edit  </mat-icon>
          </button>
          <button *ngIf="element.emp_status === '1'" mat-icon-button color="warn" (click)="disabledUser(element.id)">
            <mat-icon> sync_disabled </mat-icon>
          </button>
          <button *ngIf="element.emp_status === '0'" mat-icon-button color="warn" (click)="deleteUser(element.id)">
            <mat-icon> delete </mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<ngx-spinner bdOpacity = 0.6 bdColor = "rgba(16,15,15,0.81)" size = "default" color = "#f4696b" type = "ball-atom" [fullScreen] = "true">
<p style="color: white"> Please wait... </p>
</ngx-spinner>
