<div *ngIf="userDetails">
  <h5 class="newpop-heading" mat-dialog-title> {{userDetails.emp_name}} Details
    <button class="btn-nooutline float-right" mat-icon-button mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h5>
  <table class="table table-striped" *ngIf="userDetails">
    <tr>
      <th>Name</th>
      <td>: {{userDetails.emp_name}} </td>
    </tr>
    <tr>
      <th>Employee ID</th>
      <td>: {{userDetails.emp_id}} </td>
    </tr>
    <tr>
      <th>Role</th>
      <td>: {{userDetails.emp_role}} </td>
    </tr>
    <tr>
    <tr>
      <th>Date of Birth</th>
      <td>: {{userDetails.emp_dob | date: 'dd-MMM-yyyy'}} </td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td>: {{userDetails.emp_mobile}} </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>: {{userDetails.emp_email}} </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>: {{userDetails.emp_status === '1' ? 'Active' : 'Inactive'}} </td>
    </tr>
  </table>
  <ngx-spinner name="viewSpinner" bdColor = "rgba(16,15,15,0.81)" size = "default" color = "#fff" type = "ball-8bits" [fullScreen] = "false"
  >
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
