.float-right {
  float: right;
}
.newpop-heading {
  font-size: 16px !important;
  background: #016450;
  color: #fff;
  margin: -15px -15px 10px -15px !important;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.newpop-heading button {
  margin-top: -4px;
}
.newpop-heading .mat-icon {
  font-size: 18px !important;
}
.mat-dialog-content {
  margin: 0 -15px !important;
  padding: 0 15px !important;
}
.cdk-global-overlay-wrapper .cdk-overlay-pane {
  height: auto !important;
  max-width: 90% !important;
  max-height: 90% !important;
  overflow: auto;
}
.cdk-global-overlay-wrapper .cdk-overlay-pane mat-ink-bar {
  background-color: #016450 !important;
}
.mat-form-field {
  width: 100%;
}
.mat-form-field-underline {
  background-color: red;
}
.mat-header-row {
  background-color: #2c3e50;
  text-align: center;
}
.mat-header-cell {
  color: white;
  text-align: center;
}
.mat-sort-header-arrow {
  color: white;
}
.mat-dialog-container {
  padding: 15px !important;
}
