<h5 class="newpop-heading" mat-dialog-title>
  Add New User
  <button class="btn-nooutline float-right" mat-icon-button mat-button (click)="dialogClose()">
    <mat-icon>close</mat-icon>
  </button>
</h5>
<form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit(registerForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Employee Name</mat-label>
    <input matInput type="text" required formControlName="emp_name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="registerForm.controls.emp_name.hasError('required')"> Name is Required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Select Role</mat-label>
    <mat-select required formControlName="emp_role">
      <mat-option value="SD">Software Development</mat-option>
      <mat-option value="ST">Software Testing</mat-option>
      <mat-option value="CD">Creative Designing</mat-option>
    </mat-select>
    <mat-error *ngIf="registerForm.controls.emp_name.hasError('required')"> Role is Required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Employee Mobile</mat-label>
    <input matInput type="text" required formControlName="emp_mobile">
    <mat-icon matSuffix>smartphone</mat-icon>
    <mat-error *ngIf="registerForm.controls.emp_mobile.hasError('required')"> Mobile is Required!</mat-error>
    <mat-error *ngIf="registerForm.controls.emp_mobile.hasError('pattern')"> Mobile is Invalid!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Employee Email</mat-label>
    <input matInput type="text" required formControlName="emp_email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="registerForm.controls.emp_email.hasError('required')"> Email is Required!</mat-error>
    <mat-error *ngIf="registerForm.controls.emp_email.hasError('email')"> Email is Invalid!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Employee DOB</mat-label>
    <input [matDatepicker]="picker" [max]="maxiDate" formControlName="emp_dob" matInput>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="registerForm.controls.emp_dob.hasError('required')"> DOB is Required!</mat-error>
  </mat-form-field>
  <button mat-raised-button class="btn-block" [disabled]="registerForm.invalid" color="primary" type="submit"> Submit </button></form>
